<div class="container">
<div class="row">
  <app-header></app-header>
  <h2 style="align: center; padding: 20px">
  Assignment-3 Content-based Recommendation
  <br>
  <h4>Sharvil Shah</h4>
</h2>

<div class="card w-75" style="padding: 20px; border: 1px">
  <div class="card-block">
    <h3 class="card-title">Click anywhere on table to see recommendation for that row</h3>
    <button class="btn btn-success" (click)="appendNewData()">Add new record</button>
    <br>
    <br>
    <span *ngIf="formFlag">
    <form #f="ngForm">
        <input type="text" name="type" id="type" class="form-control" placeholder="Type" ngModel required>
      <br>
        <input type="text" name="text" id="text" class="form-control" placeholder="Text" ngModel required>
      <br>
        <input type="text" name="code" id="code" class="form-control" placeholder="Code" ngModel required>
      <br>
        <button class="btn btn-primary" (click)="addToArray()">Submit
        </button>
    </form>
</span>
        <table class="table-responsive table table-striped table-hover table-fixed table-nowrap" *ngIf="dataFlag" style="">
          <tr>
            <th>
              Type
            </th>
            <th>
              Text
            </th>
            <th>
              Code
            </th>
          </tr>
          <!--<span data-target="#exampleModalLong">-->
          <tr *ngFor="let i of data" (click)="eventFire(i, target);">
            <td>
                {{i.type}}
              </td>
            <td class="overflow">
              {{i.text}}
            </td>
            <td class="overflow">
              <pre><code>{{i.code}}</code></pre>
            </td>
          </tr>

        </table>
      </div>
</div>

  <div class="card" style="padding: 20px;" #target>
      <h3 class="card-header">Content-based Recommendation</h3>
      <div class="card-block">
        <h4 class="card-title">Top 10 Recommendations</h4>
        <span *ngIf="adaptiveTextFlag">
        <span *ngFor="let i of dataToDisplay;">
          <hr>
          <div class="card">
            <div class="card-header">
              <h4>Sr No. {{i.count}}</h4>
            </div>
            <div class="card-block">
              <h4 class="card-title">Book: {{i.type}} | Topic: {{i.topic}}</h4>
              <h5>Link: {{i.link}}</h5>
              <h5 *ngIf="i.heading != null">Heading: {{i.heading}}</h5>
              <p class="card-text"><strong>Content: </strong>{{i.content}}... <strong><a target="_blank" href="{{i.link}}">Read More</a> </strong></p>
            </div>
          </div>
        </span>
          </span>
      </div>
    </div>

</div>
</div>
